// _container.scss
/* ================================
   LAYOUT CONTAINER
================================ */
.layout {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #fff;
}
